@model EmployeeMgmt.Models.Employee;

<body class="container">
  <form>
    <fieldset>
      <div class="form-group">
        <label asp-for="FristName">First Name</label>
         <input asp-for="FristName" class="form-control">
      </div>
    </fieldset>
  </form>
</body>