@model EmployeeMgmt.Models.Company;

@{
    ViewData["Title"] ="New Company";
}

<div class="container">
   <div class="col-md-6 shadow  p-4  mx-auto">
     <h1 class="text-primary text-center">New Company</h1>
    <form asp-controller="Company" asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input class="form-control bg-transparent" asp-for="Name" type="text">
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group my-4">
            <label asp-for="Address">Address</label>
            <input class="form-control bg-transparent" asp-for="Address" type="text">
        </div>
        
        @if(ViewBag?.employees?.Length>0)
        {
       <div class="form-group my-4">
           <select multiple asp-for="Employees" id="" class="form-control bg-transparent">
            <option value="null">Select Employees</option>
            @foreach(var employee in ViewBag.employees)
            {
                <option value="@employee.Id" >@employee.FirstName "-" @employee.LastName</option>
            }
           </select>
        </div>
        }

       <button class="btn w-100 btn-primary">Save</button>
    </form>
   </div>
</div>