@model IEnumerable<EmployeeMgmt.Models.Company>

@{
    ViewData["Title"] = "Companies";
}

<div class="shadow p-4">
  
  <div class="d-flex shadow border-2 border-bottom px-2 my-4 align-items-center justify-content-between">
    <h1>Companies</h1>
    <a asp-controller="Company" asp-action="Add" class="btn btn-primary">Add New</a>
  </div>

    <div class="table-responsive">
        <table class="table table-hover stripped">
            <thead>
                <tr class="text-center">
                    <th>Company ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
               @foreach (Company company in Model)
               {
                <tr>
                    <td title="@company.CompanyId">@company.CompanyId.ToString().Substring(0,20)...</td>
                    <td>@company.Name</td>
                    <td>@company.Address</td>
                    <td><a asp-controller="Company" asp-action="Edit" class="btn btn-success">Edit</a></td>
                    <td><a asp-controller="Company" asp-action="Delete" class="btn btn-danger">Delete</a></td>
                </tr>
               }
            </tbody>
        </table>
    </div>
</div>